{% extends 'base.html' %}

{%load static%}


{% block cabecera %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

{% endblock cabecera %}


{% block contenido %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <!-- Formulario para agregar plato -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> <strong>AGREGAR</strong> | Nuevo plato</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button> -->
                        </div>
                    </div>

                    <!-- Aviso  -->
                    <div class="ribbon-wrapper ribbon-xl">
                        <div class="ribbon bg-warning text-lg">
                            En construcción
                        </div>
                    </div>


                    <div class="card-body">
                        <!-- form start -->
                        <form role="form">
                            <!-- Grupo 1 formulario -->
                            <div class="p-3 mb-2 bg-light text-dark">

                                <!-- Nombre de plato -->
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre de plato</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3"
                                            placeholder="Ingrese nombre aquí ..." required>
                                    </div>
                                </div>

                                <!-- Tipo de plato -->
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo de plato</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2bs4" style="width: 100%;">
                                            <option selected="selected">Tipo 1</option>
                                            <option>Tipo 2</option>
                                            <option>Tipo 3</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Precio de venta -->
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Precio de venta</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">S/.</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Ingrese precio..."
                                                required>
                                        </div>
                                    </div>
                                </div>

                                <!-- Precio de compra estimado -->
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Precio estimado de
                                        ingredientes</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">S/.</span>
                                            </div>
                                            <input type="text" class="form-control"
                                                placeholder="Se calcula en base a los ingredientes ingresados."
                                                disabled>

                                        </div>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-outline-success">Agregar producto al plato</button>
                            </div>

                        </form>
                        <!-- Grupo 2 formulario -->

                        <div class="p-3 mb-2 bg-white text-dark">

                            <!-- Título de la tabla -->
                            <div class="text-center">
                                <strong>Lista de productos</strong>
                            </div>
                            <!-- Tabla ingresar ingredientes -->
                            <div class="form-group">
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Unidad</th>
                                                <th>Precio estimado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>522</td>
                                                <td>Papa huayro</td>
                                                <td>11-7-2019</td>
                                                <td><span class="tag tag-success">Approved</span></td>
                                                <td>123</td>
                                                <td class="project-actions text-right">
                                                    <a class="btn btn-primary btn-sm" href="#">
                                                        <i class="fas fa-folder">
                                                        </i>
                                                        View
                                                    </a>
                                                    <a class="btn btn-info btn-sm" href="#">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" href="#">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>521</td>
                                                <td>Trucha frita</td>
                                                <td>11-7-2019</td>
                                                <td><span class="tag tag-warning">Pending</span></td>

                                                <td>123</td>
                                                <td class="project-actions text-right">
                                                    <a class="btn btn-primary btn-sm" href="#">
                                                        <i class="fas fa-folder">
                                                        </i>
                                                        View
                                                    </a>
                                                    <a class="btn btn-info btn-sm" href="#">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" href="#">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Guardar plato</button>


                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        (RESTAURANTE) *Recuerda revisar los datos.
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock contenido %}


{% block pie %}

<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<!-- Add here more js -->


<!-- Page script -->
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        // Add here more scripts
    })
</script>

{% endblock pie %}