{% extends 'base.html' %}

{% block contenido %}

<h1>Mostrando tabla</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    {% for x in p %}
    <tr> 
        <td>{{ x.nombre }}</td>
 
        <td>{{ x.edad }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock contenido %}

>
{% block contenido2 %}

<h1>Mostrando formulario</h1>
<form method="post">
 {% csrf_token %}
 {{form.as_p}}

<button type="submit" class="btn btn-success">Guardar </button>

</form>

{% endblock contenido2 %}




