{% extends 'base.html' %}

{% load static %}


{% block cabecera %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">


<!-- Para que la tabla no sea muy grande-->
<style>
    .table td,
    .table th {

        padding: 0.3rem;
        vertical-align: middle;
    }
</style>

{% endblock cabecera %}


{% block contenido %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Historial de boletas de compra</strong></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="tablaHistorial" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>N° Boleta</th>
                                    <th>Boleta Valida </th>
                                    <th>Producto</th>
                                    <th>Unidad</th>
                                    <th>Cantidad Enviada</th>
                                    <th>Cantidad Real </th>
                                    <th>Déficit</th>
                                    <th>Responsable</th>
                                    <th>Proveedor</th>
                                    <th>Fecha compra (D/M/Y)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productosHijoCompra %}
                                <tr>
                                    <td>
                                        <a href="#">{{producto.boleta_compra.id}}</a>
                                    </td>
                                    <td>
                                        {% if producto.boleta_compra.valido is True %}
                                        <p class="text-success"> Valido </p>
                                        {% else %}
                                        <p class="text-danger"> Anulado</p>
                                        {%endif%}
                                    </td>
                                    <td>
                                        {{producto.producto_padre.nombre}}
                                    </td>
                                    <td>
                                        {{producto.producto_padre.unidad}}
                                    </td>
                                    <td>
                                        <p id="cantidad_enviada_{{producto.id}}">{{producto.cantidad_enviada}}</p>
                                    </td>
                                    <td>

                                        <div class="input-group input-group-sm">

                                            <div class="input-group-prepend">
                                                <span type="number" class="input-group-text bg-dark"
                                                    onclick="reportar({{producto.id}});return false;"
                                                    id="inputGroup-sizing">&nbsp;&nbsp;&nbsp;Reportar</span>
                                            </div>
                                            <input type="number" class="form-control" aria-label="Small"
                                                aria-describedby="inputGroup-sizing-sm" id="producto_{{producto.id}}">

                                        </div>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-sm">Reportado</span>
                                            </div>

                                            {% if producto.deficit >= 0 %}
                                            <input type="number" class="form-control is-valid"
                                                id="reportado_{{producto.id}}" aria-label="Small" readonly
                                                aria-describedby="inputGroup-sizing-sm" value="{{producto.cantidad}}">
                                            {% elif producto.deficit is None %}
                                            <input type="number" class="form-control is-warning"
                                                id="reportado_{{producto.id}}" aria-label="Small" readonly
                                                aria-describedby="inputGroup-sizing-sm" value="{{producto.cantidad}}">

                                            {% else%}
                                            <input type="number" class="form-control is-invalid"
                                                id="reportado_{{producto.id}}" aria-label="Small" readonly
                                                aria-describedby="inputGroup-sizing-sm" value="{{producto.cantidad}}">
                                            {% endif%}
                                        </div>

                                    </td>
                                    <td>
                                        {% if producto.deficit < 0%}
                                        <p class="text-danger" id="deficit_{{producto.id}}"> {{producto.deficit}}</p>
                                        {% elif producto.deficit is None%}
                                        Pendiente
                                        {% else%}
                                        <p class="text-sucess" id="deficit_{{producto.id}}"> {{producto.deficit}}</p>
                                        {%endif%}

                                    </td>
                                    <td>
                                        {{producto.boleta_compra.responsable}}
                                    </td>
                                    <td>
                                        {{producto.boleta_compra.proveedor}}
                                    </td>
                                    <td>
                                        {{producto.boleta_compra.fecha_compra | date:"d/m/yy"}}
                                    </td>



                                </tr>
                                {% endfor %}
                            </tbody>
                            {% comment %} <tfoot>
                                <tr>
                                    <th>Boleta</th>
                                    <th>Comentarios</th>
                                    <th>Fecha compra (D/M/Y)</th>
                                    <th>Proveedor</th>
                                    <th>Nro. de productos</th>
                                    <th>Total (S/.)</th>
                                </tr>
                            </tfoot> {% endcomment %}
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock contenido %}


{% block pie %}

<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

<!-- Add here more js -->


<!-- Page script -->
<script>
    var table;
    $(document).ready(function () {

        // Setup - add a text input to each footer cell
        $('#tablaHistorial thead tr').clone().appendTo('#tablaHistorial thead');
        $('#tablaHistorial thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100px" placeholder="Buscar"/>');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });
        // Tabla Historial Datatable
        table = $('#tablaHistorial').DataTable({
            orderCellsTop: true,
            fixedHeader: true,

            "order": [
                [0, "desc"]
            ],
            "oLanguage": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },

                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                },
            },
        });

    });


    function reportar(producto_id) {
        $('#showModal').modal('hide');
        $("#loader_bg").show();
        $.ajax({
            type: 'POST',
            url: '../compras_historial_productos/actualizar_cantidad_real/',
            data: {
                id_producto: producto_id,
                cantidad_real: $("#producto_" + producto_id).val(),
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post'
            },
            success: function (json) {
                $("#loader_bg").hide();
                toastr.success('Se actualizó la cantidad real');
                cantidad_enviada = parseFloat($("#cantidad_enviada_" + producto_id).text());
                cantidad_real = $("#producto_" + producto_id).val();
                nuevo_deficit = cantidad_real - cantidad_enviada;
                $("#deficit_" + producto_id).text(String(nuevo_deficit));
                $("#reportado_" + producto_id).val(cantidad_real);
                if (nuevo_deficit < 0) {
                    $('#deficit_' + producto_id).attr("class", "text-danger");
                    $("#reportado_" + producto_id).attr("class", "form-control is-invalid");
                } else {
                    $('#deficit_' + producto_id).attr("class", "text-sucess");
                    $("#reportado_" + producto_id).attr("class", "form-control is-valid");
                }


            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr
                    .responseText
                ); // provide a bit more info about the error to the console
                $("#loader_bg").hide();
                toastr.error('No se pudo actualizar la cantidad real');
            }
        });

    };
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        // Add here more scripts
    })
</script>

{% endblock pie %}