{% extends 'base.html' %}

{% load static %}


{% block cabecera %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">

<!-- Para que la tabla no sea muy grande-->
<style> 
.table td, .table th{

    padding:0.5rem;
    vertical-align: middle;
  }
  </style>
{% endblock cabecera %}


{% block contenido %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Historial de boletas de compra</strong></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="tablaHistorial" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Boleta</th>
                                    <th>Responsable</th>
                                    <th>Proveedor</th>
                                    <th>Nro. de productos</th>
                                    <th>Total (S/.)</th>
                                    <th>Comentarios</th>
                                    <th>Fecha compra (D/M/Y)</th>
                                    <th>Fecha creado (D/M/Y)</th>
                                    <th>Fecha modificado (D/M/Y)</th>
                                    <th>Válido</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for boleta in tablaBoletas %}
                                {% if  forloop.counter <= 1000 %}
                                <tr>
                                    <td>
                                        <a href="#">{{boleta.boleta_compra}}</a>
                                    </td>
                                    <td>
                                        {{boleta.boleta_compra.responsable}}
                                    </td>
                                    <td>
                                        {{boleta.boleta_compra.proveedor.nombre}}
                                    </td>
                                    <td>
                                        {{boleta.nro_productos}}
                                    </td>
                                    <td>
                                        {{boleta.precio_total}}
                                    </td>
                                    <td>
                                        {{boleta.boleta_compra.comentario |default_if_none:"- - - -"}}
                                    </td>
                                    <td>
                                        {{boleta.boleta_compra.fecha_compra | date:"d/m/yy"}}
                                    </td>
                                    <td>
                                        {{boleta.boleta_compra.fecha_creado | date:"d/m/yy"}}
                                    </td>
                                    <td>
                                        {{boleta.boleta_compra.fecha_modificado | date:"d/m/yy - H:i"}} Hrs
                                    </td>
                                    <td>
                                        {% if boleta.boleta_compra.valido == True %}
                                        <input class="switch" type="checkbox" name="my-checkbox" checked
                                            data-bootstrap-switch data-on-text="SI" data-off-text="NO"
                                            data-off-color="danger" data-on-color="success"
                                            id="switch_{{boleta.boleta_compra.id}}" value="{{boleta.boleta_compra.id}}"
                                            data-backdrop="static" data-keyboard="false">
                                        {% else %}
                                        <input class="switch" type="checkbox" name="my-checkbox" data-bootstrap-switch
                                            data-on-text="SI" data-off-text="NO" data-off-color="danger"
                                            data-on-color="success" id="switch_{{boleta.boleta_compra.id}}"
                                            value="{{boleta.boleta_compra.id}}" data-backdrop="static"
                                            data-keyboard="false">
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            {% comment %} <tfoot>
                                <tr>
                                    <th>Boleta</th>
                                    <th>Comentarios</th>
                                    <th>Fecha compra (D/M/Y)</th>
                                    <th>Proveedor</th>
                                    <th>Nro. de productos</th>
                                    <th>Total (S/.)</th>
                                </tr>
                            </tfoot> {% endcomment %}
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

<!-- ADD MODALS HERE-->

<!-- Modal para confirmación de BoletaCompra.Valido-->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea cambiar la validez de la boleta?<br>
                Esto afectará al libro contable y balance económico.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- /.MODALS-->
{% endblock contenido %}


{% block pie %}

<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<!-- Add here more js -->


<!-- Page script -->
<script type="text/javascript">
    var objetos_globales = {};

    $(document).ready(function () {

        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Initialize switch
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        // Tabla Historial Datatable
        $('#tablaHistorial').DataTable({
            "oLanguage": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                },
            },
        });

        //AJAX para actualizar si la boleta es válida

        $('.switch').on('switchChange.bootstrapSwitch', function (e, data) {
            objetos_globales.numero_switch = e.target.value;
            $('#switch_' + objetos_globales.numero_switch).bootstrapSwitch('state', !data, true);
            $('#showModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        });

        $(".modal-footer .btn-primary").on('click', function () {
            $('#showModal').modal('hide');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../compras/actualizar_valido/',
                data: {
                    id_boleta_compra: objetos_globales.numero_switch,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    $('#switch_' + objetos_globales.numero_switch).bootstrapSwitch(
                        'toggleState', true, true);
                    toastr.success('Se cambio la validez de la boleta #' +
                        objetos_globales.numero_switch);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr
                        .responseText
                    ); // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo cambiar la validez de la boleta #' +
                        objetos_globales.numero_switch);
                }
            });
        });

    });
</script>

{% endblock pie %}