{% extends 'base.html' %}
{% load static %}

{% block cabecera %}
<!--Para mostrar la moneda S/.-->
<style>
    .input-icon {
        position: relative;
    }

    .input-icon>i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        https: //www.linkedin.com/jobs/search/?f_TPR=a1580278458-&geoId=102927786&keywords=mecatronica&location=Per%C3%BA
            pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
    }

    .input-icon>input {
        padding-left: 25px;
        padding-right: 0;
    }

    .input-icon-right>i {
        right: 0;
    }

    .input-icon-right>input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
    }
</style>


<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" />
<!-- Font Awesome -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
    integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
<!-- Spanish setting local Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
<!-- Tempus Dominus Bootstrap 4 -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<!-- Full page loader style https://codepen.io/tasawarmahmood/pen/EQoMPg-->
<link rel="stylesheet" href="{% static 'custom/loader_full_page.css' %}" />
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">

{% endblock cabecera %}

{% block contenido %}

<!-- Loader -->
<div id="loader_bg" style="display: none;">
    <div class="box_layer yellow"></div>
    <div class="box_layer yellowDark"></div>
    <div class="box_layer orange"></div>
    <div class="box_layer orangeDark"></div>
</div>

<!-- Fin Loaders-->

<!-- Fin Loader -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <!-- Default box -->
                <div class="card col-lg-8">
                    <div class="card-header ">
                        <h4 class="card-title col-6">
                            <strong>COMPRAS | Empresa Isla de Canrash S.R.L.</strong>
                        </h4>
                        <div class="card-tools">
                            <!-- Importar / Exportar -->
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-file-excel  fa-2x"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item">
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#modal-success">
                                        Importar datos de Excel
                                    </button>
                                </a>
                                <a class="dropdown-divider">
                                </a>
                            </div>
                            <!-- Minimizar -->
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- Cerrar -->
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button> -->
                            <!-- Botones para cerrar ventana -->
                        </div>
                    </div>

                    <!-- Aviso  -->
                    <!-- <div class="ribbon-wrapper ribbon-xl">
                    <div class="ribbon bg-warning text-lg">
                        En construcción
                    </div>
                </div> -->

                    <div class="card-body">
                        <!-- form start -->

                        <form id="myForm" action="" method="POST">
                            <!-- csrf token -->
                            {% csrf_token %}
                            <input type="hidden" name="id_boleta_compra" value="{{boletasCompra.last.id |add:"1"}}">
                            <!-- Grupo 1 formulario -->
                            <div class="invoice p-3 mb-3">
                                <!-- title row -->
                                <div class="row">
                                    <div class="col-12">
                                        <h5>
                                            <i class="fas fa-shopping-cart"></i> Boleta nueva N°
                                            {{ boletasCompra.last.id |add:"1"  }}
                                            <small class="float-right">
                                                <div class="form-group">
                                                    <div class="input-group date" id="datetimepicker4"
                                                        data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input"
                                                            data-target="#datetimepicker4" name="fecha_compra" />
                                                        <div class="input-group-append" data-target="#datetimepicker4"
                                                            data-toggle="datetimepicker">
                                                            <div class="input-group-text">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </small>
                                        </h5>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- info row -->
                                <div class="row invoice-info">
                                    <div class="col invoice-col">
                                        <address>
                                            <!-- Proveedor -->
                                            <div class="form-group row">
                                                <label for="inputProveedor"
                                                    class="col-3 col-sm-2 col-form-label"><strong>Proveedor:</strong></label>
                                                <div id="input_proveedor" class=" col-7 col-sm-9"
                                                    style="display: none;">
                                                    <input id="nuevo_proveedor" name="nuevo_proveedor"
                                                        placeholder="Ingrese nuevo proveedor" type="text"
                                                        class="form-control" />
                                                </div>
                                                <div class=" col-7 col-sm-9" id="seleccionar_proveedor">
                                                    <select class="form-control select2bs4" style="width: 100%;"
                                                        onchange="cargar_proveedor(this.value)" name="id_proveedor">
                                                        {% for proveedor in proveedores %}
                                                        {% if forloop.first %}
                                                        <option selected="selected" value="{{proveedor.pk}}">
                                                            {{proveedor.nombre}}</option>
                                                        {% else %}
                                                        <option value="{{proveedor.pk}}">{{proveedor.nombre}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-2 col-sm-1" style="text-align: center">

                                                    <i id="simbolo_agregar" title="Agregar Nuevo Proveedor"
                                                        onclick="agregar_nuevo_proveedor(this);return false;"
                                                        class="fas fa-plus-circle fa-2x" style="color: #007bff;"></i>
                                                    {% comment %}
                                                    <kbd> Agregar Nuevo</kbd>
                                                    {% endcomment %}

                                                </div>
                                            </div>

                                            <!-- RUC -->
                                            <div class="form-group row">
                                                <label for="inputProveedor" class="col-3 col-sm-2 col-form-label">
                                                    <strong>RUC:</strong></label>
                                                <div class="col-9 col-sm-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-building"></i>
                                                            </span>
                                                        </div>
                                                        <input id="ruc" readonly type="text" class="form-control"
                                                            name="ruc" data-inputmask='"mask":"9 9999 9999 99"'
                                                            data-mask />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- celular -->
                                            <div class="form-group row">
                                                <label for="inputProveedor" class="col-3 col-sm-2 col-form-label">
                                                    <strong>Celular:</strong>
                                                </label>
                                                <div class="col-9 col-sm-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-phone"></i>
                                                            </span>
                                                        </div>
                                                        <input id="celular" readonly type="text" class="form-control"
                                                            name="celular" data-inputmask='"mask":"999-999-999"'
                                                            data-mask />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Correo -->
                                            <div class="form-group row">
                                                <label for="inputProveedor" class="col-3 col-sm-2 col-form-label">
                                                    <strong>Correo:</strong>
                                                </label>
                                                <div class="col-9 col-sm-10">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-envelope"></i>
                                                            </span>
                                                        </div>
                                                        <input id="correo" placeholder="Ingrese correo" readonly
                                                            name="correo" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Responsable -->
                                            <div class="form-group row">
                                                <label for="inputProveedor" class="col-3 col-sm-2 col-form-label">
                                                    <strong>Responsable:</strong>
                                                </label>
                                                <div class="col-9 col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2bs4" style="width: 100%;"
                                                            name="responsable">
                                                            <option selected="selected">Teodoro</option>
                                                            <option>Susana</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Comentarios -->
                                            <div class="form-group row">
                                                <label for="inputComentarios" class="col-3 col-sm-2 col-form-label">
                                                    <strong>Comentarios:</strong>
                                                </label>
                                                <div class="col-9 col-sm-10">
                                                    <textarea class="form-control" rows="3" name="comentarios"
                                                        placeholder="Es opcional dejar un comentario ..."></textarea>
                                                </div>
                                            </div>

                                            <!-- /. Rows-->
                                        </address>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <!-- Table row -->
                                <div class="row">
                                    <div class="col-12 table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Unidad</th>
                                                    <th>Precio (S/.)</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla_compras">
                                                <tr id="fila_1">
                                                    <td>
                                                        <select class="form-control select2bs4" style="width: 100%;"
                                                            onchange="cargar_producto(this.value,this.name)"
                                                            name="id_producto_padre_1">
                                                            {% for producto in productoPadre %}
                                                            {% if forloop.last %}
                                                            <option selected="selected" value="{{producto.pk}}">
                                                                {{producto.nombre}}</option>
                                                            {% else %}
                                                            <option value="{{producto.pk}}">{{producto.nombre}}</option>
                                                            {% endif %}
                                                            {% endfor %}

                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="number" step="00.01" placeholder='00.00'
                                                            value='00.00' min="0" class="form-control"
                                                            name="Cantidad_1">
                                                    </td>
                                                    <td>
                                                        <input readonly="readonly" type="text" class="form-control"
                                                            id="Unidad_1">
                                                    </td>
                                                    <td class="input-icon"> <i>S/.</i> <input type="number" step="00.01"
                                                            placeholder='00.00' value='00.0' min="0"
                                                            class="form-control precio" name="Precio_1">
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger btn-sm" href=""
                                                            onclick="deleteRow(this);return false;">
                                                            <i class="fas fa-trash"> </i>
                                                            Borrar
                                                        </a>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <a id="agregar_fila" href="javascript:void(0);">
                                                Agregar fila
                                                <i class="fas fa-plus-circle fa-lg"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <hr
                                    style="width: 100%; color: rgb(233, 230, 230); height: 1px; background-color:rgb(233, 230, 230); " />
                                <div class="row">
                                    <!-- accepted payments column -->
                                    <div class="col-6"> <br> </div>
                                    <!--    <div class="col-6">
                                    <p class="lead">Escanea el código QR:</p>

                                    <img src="https://tctechcrunch2011.files.wordpress.com/2012/08/qr-code.png"
                                        alt="qr code" width="100" height="100" />
                                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                        * Recuerda verificar la veracidad de la boleta con el
                                        código qr
                                    </p>
                                </div> -->

                                    <!-- /.col -->
                                    <div class="col-6">
                                        <p class="lead">Resumen</p>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <!-- <tr>
                                                <th>Shipping:</th>
                                                <td>$5.80</td>
                                            </tr> -->
                                                <tr>
                                                    <th style="width:50%">Total:</th>
                                                    <td class="total">265.24</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <!-- this row will not appear when printing -->
                                <div class="row no-print">
                                    <div class="col-12">
                                        <!--   <a href="" target="_blank" class="btn btn-default"><i
                                            class="fas fa-print"></i> Imprimir ahora</a> -->
                                        <button id="btnGuardar" class="btn btn-success float-right" type="submit"
                                            value="Guardar" name="_save">
                                            <i class="far fa-credit-card"></i> Guardar <strong>compra</strong>
                                        </button>
                                        <!--       <button type="button" class="btn btn-primary float-right"
                                        style="margin-right: 5px;">
                                        <i class="fas fa-download"></i> Generar <strong>PDF</strong>
                                    </button> -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.invoice -->
                            <!--    <button type="submit" class="btn btn-outline-success">
                            Agregar <strong>compras</strong> al sistema
                        </button> -->
                        </form>
                    </div>
                    <!-- /.card-body -->
                    <!-- <div class="card-footer">
                    Empresa EICA
                </div> -->
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
                <hr style="width: 100%; color: red; height: 1px; background-color:red;" />

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <strong>BOLETAS DE COMPRA</strong> | Se muestran las últimas 10
                                </h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            placeholder="Buscar" />
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Boleta</th>
                                            <th>Responsable</th>
                                            <th>Proveedor</th>
                                            <th>Nro. de productos</th>
                                            <th>Total (S/.)</th>
                                            <th>Comentarios</th>
                                            <th>Fecha compra (D/M/Y)</th>
                                            <th>Fecha creado (D/M/Y)</th>
                                            <th>Fecha modificado (D/M/Y)</th>
                                            <th>Válido</th>
                                            {% comment %}
                                            <th>Fecha</th>
                                            {% endcomment %}
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for boleta in tablaBoletas %}

                                        <tr>
                                            <td>
                                                <a href="#">N° {{boleta.boleta_compra}}</a>
                                            </td>
                                            <td>
                                                {{boleta.boleta_compra.responsable}}
                                            </td>
                                            <td>
                                                {{boleta.boleta_compra.proveedor.nombre}}
                                            </td>
                                            <td>
                                                {{boleta.nro_productos}}
                                            </td>
                                            <td>
                                                S/. {{boleta.precio_total}}
                                            </td>
                                            <td>
                                                {{boleta.boleta_compra.comentario |default_if_none:"- - - -"}}
                                            </td>
                                            <td>
                                                {{boleta.boleta_compra.fecha_compra | date:"d/m/yy"}}
                                            </td>
                                            <td>
                                                {{boleta.boleta_compra.fecha_creado | date:"d/m/yy"}}
                                            </td>
                                            <td>
                                                {{boleta.boleta_compra.fecha_modificado | date:"d/m/yy - H:i"}} Hrs
                                            </td>
                                            <td>
                                                {% if boleta.boleta_compra.valido == True %}
                                                <input class="switch" type="checkbox" name="my-checkbox" checked
                                                    data-bootstrap-switch data-on-text="SI" data-off-text="NO"
                                                    data-off-color="danger" data-on-color="success"
                                                    id="switch_{{boleta.boleta_compra.id}}"
                                                    value="{{boleta.boleta_compra.id}}" data-backdrop="static"
                                                    data-keyboard="false">
                                                {% else %}
                                                <input class="switch" type="checkbox" name="my-checkbox"
                                                    data-bootstrap-switch data-on-text="SI" data-off-text="NO"
                                                    data-off-color="danger" data-on-color="success"
                                                    id="switch_{{boleta.boleta_compra.id}}"
                                                    value="{{boleta.boleta_compra.id}}" data-backdrop="static"
                                                    data-keyboard="false">
                                                {% endif %}

                                            </td>

                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ADD MODALS HERE-->

<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-file-excel "></i> Importar desde excel
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p>Para poder importar correctamente se tiene que ingresar documentos con formatos predefinidos para que
                    estos
                    puedan ser leídos por el sistema.
                </p>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal"
                    onclick="location.href = 'https://docs.google.com/spreadsheets/d/1AH2juP4xG_x9cB2wel7BDoOhlHr-Ul2uALlui8NbJX4/edit?usp=sharing'">Descargar
                    plantilla
                </button>
                <button type="button" class="btn btn-outline-light">
                    Subir archivo
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal para confirmación de BoletaCompra.Valido-->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea cambiar la validez de la boleta?<br>
                Esto afectará al libro contable y balance económico.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<!-- /.MODALS-->

{% endblock contenido %}

{% block pie %}

<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
    integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js">
</script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- serializeToJSON -->
<script src="{% static 'plugins/formtojson/src/jquery.serializeToJSON.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<!-- Add here more js -->


<!-- Script to add new row and delete-->
<script type="text/javascript">
    //------------------------------------------OUTSIDE DOCUMENT.READY---------------------------------------

    /*COPIA DE LA PRIMERA FILA*/
    var objetos_globales = {};

    //DECLARACION DE FUNCIONES
    function cargar_producto(selectedValue, name) {

        var json_producto_hijo = JSON.parse('{{  json_producto_hijo | safe }}');
        var json_producto_padre = JSON.parse('{{  json_producto_padre | safe }}');
        var json_producto_padre_filtrado = json_producto_padre.filter(p => p.pk == selectedValue);

        $('#Unidad_' + (name.slice(-1)))[0].value = json_producto_padre_filtrado[0].fields.unidad;


    };

    function cargar_proveedor(selectedValue) {

        var json_proveedores = JSON.parse('{{ json_proveedores | safe}}');
        var data_filter = json_proveedores.filter(element => element.pk == selectedValue);
        $('#ruc')[0].value = data_filter[0].fields.ruc;
        $('#celular')[0].value = data_filter[0].fields.celular;
        $('#correo')[0].value = data_filter[0].fields.correo;


    };
    /* DELETE ROW*/
    function deleteRow(currentRow) {
        try {
            var tablita = $('#tabla_compras')[0];
            var rowCount = tablita.rows.length;
            for (var i = 0; i < rowCount; i++) {
                var row = tablita.rows[i];

                if (row == currentRow.parentNode.parentNode) {
                    tablita.deleteRow(i);
                    rowCount--;
                    i--;

                }
            }
            /*Actualizar Ids de las filas*/
            for (var i = 0; i < rowCount; i++) {
                var row = tablita.rows[i];
                row.id = "fila_" + (i + 1);
                row.childNodes[1].childNodes[1].setAttribute("name", "id_producto_padre_" + (i + 1));
                row.childNodes[3].childNodes[1].setAttribute("name", "Cantidad_" + (i + 1));
                row.childNodes[5].childNodes[1].setAttribute("id", "Unidad_" + (i + 1));
                row.childNodes[7].childNodes[3].setAttribute("name", "Precio_" + (i + 1));

            };
        } catch (e) {
            alert(e);
        }

    };
    // AGREGAR NUEVO PROVEEDOR
    function agregar_nuevo_proveedor(objeto) {
        if ($("#simbolo_agregar").attr("class") != "fas fa-search fa-2x") {
            //Agregar Nuevo Proveedor
            $("#simbolo_agregar").attr("class", "fas fa-search fa-2x");
            $("#simbolo_agregar").attr("title", "Buscar Proveedores");
            $("#seleccionar_proveedor").hide();
            $("#input_proveedor").show();
            $('#ruc')[0].value = '';
            $('#celular')[0].value = '';
            $('#correo')[0].value = '';
            $('#nuevo_proveedor')[0].value = '';
            $('#ruc').removeAttr("readonly");
            $('#celular').removeAttr("readonly");
            $('#correo').removeAttr("readonly");


        } else {
            //Buscar Proveedor
            $('#ruc')[0].value = '';
            $('#celular')[0].value = '';
            $('#correo')[0].value = '';
            $('#nuevo_proveedor')[0].value = '';
            $("#simbolo_agregar").attr("class", "fas fa-plus-circle fa-2x");
            $("#simbolo_agregar").attr("title", "Agregar Nuevo Proveedor");
            $("#seleccionar_proveedor").show();
            $("#seleccionar_proveedor").children("select").val(1).change();
            $("#input_proveedor").hide();
            $('#ruc').attr("readonly", "readonly");
            $('#celular').attr("readonly", "readonly");
            $('#correo').attr("readonly", "readonly");

        }
    }

    objetos_globales.numero_switch = 0;

    //------------------------------------------INDISE DOCUMENT.READY---------------------------------------
    $(document).ready(function () {

        //Initialize Select2 Elements
        $(".select2").select2({});

        //Initialize Select2 Elements
        $(".select2bs4").select2({
            theme: "bootstrap4"
        });
        //Date picker
        $("#datetimepicker4").datetimepicker({
            locale: "es",
            format: "L",
            date: moment(), // Fecha de hoy predifinida
            format: "DD/MM/YYYY"
        });

        //Date mask
        $("[data-mask]").inputmask();

        //Incializar switch
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        /* ADD ROW*/
        var cantidad_rows = 1;
        $('#agregar_fila').click(function () {

            var tablita = $('#tabla_compras')[0];
            var rowCount = tablita.rows.length;


            objeto_copia_primera_fila = objetos_globales.fila_original.clone(true, true);
            objeto_copia_primera_fila.children(":first").children("select").select2({
                theme: "bootstrap4"
            });
            copia_primera_fila = objeto_copia_primera_fila[0];
            copia_primera_fila.id = "fila_" + (cantidad_rows + 1);
            copia_primera_fila.childNodes[1].childNodes[1].setAttribute("name",
                "id_producto_padre_" + (
                    cantidad_rows + 1));
            copia_primera_fila.childNodes[3].childNodes[1].setAttribute("name", "Cantidad_" + (
                cantidad_rows + 1));
            copia_primera_fila.childNodes[5].childNodes[1].setAttribute("id", "Unidad_" + (
                cantidad_rows + 1));
            copia_primera_fila.childNodes[7].childNodes[3].setAttribute("name", "Precio_" + (
                cantidad_rows + 1));

            cantidad_rows++;

            tablita.append(copia_primera_fila);

            $('#fila_' + cantidad_rows).children(":first").children("select").select2({
                theme: "bootstrap4"
            });
            $('#fila_' + cantidad_rows).children(":first").children("select").change();

            /*Actualizar Ids de las filas*/
            var tablita = $('#tabla_compras')[0];
            var rowCount = tablita.rows.length;

            for (var i = 0; i < rowCount; i++) {

                var row = tablita.rows[i];
                row.id = "fila_" + (i + 1);
                row.childNodes[1].childNodes[1].setAttribute("name", "id_producto_padre_" + (i +
                    1));
                row.childNodes[3].childNodes[1].setAttribute("name", "Cantidad_" + (i + 1));
                row.childNodes[5].childNodes[1].setAttribute("id", "Unidad_" + (i + 1));
                row.childNodes[7].childNodes[3].setAttribute("name", "Precio_" + (i + 1));

            };
        });




        /*Hallar el monto total de la boleta*/
        $('.precio').on('keyup change paste', function () {

            var total = 0.0;
            $('.precio').each(function () {
                var $this = $(this);
                var price = parseFloat($this.val());
                total += price;
            })
            total = total.toFixed(2);
            $('.total').text(total);

        });
        $('.precio').trigger('change');

        /* Script to load data when proveedor is selected */

        var json_proveedores = JSON.parse('{{ json_proveedores | safe}}');
        var data_filter = json_proveedores.filter(element => element.pk == 1);

        $('#ruc')[0].value = data_filter[0].fields.ruc;
        $('#celular')[0].value = data_filter[0].fields.celular;
        $('#correo')[0].value = data_filter[0].fields.correo;

        $("#simbolo_agregar").css({
            "cursor": "pointer"
        });

        //Inicializar el producto de la primera fila
        console.log($("#fila_1").children(":first").children("select")[0]);
        $("#fila_1").children(":first").children("select").change();

        /*COPIA DE LA PRIMERA FILA*/
        objeto_primera_fila = $('#fila_1');
        objeto_primera_fila.children(":first").children("select").select2("destroy");
        copy_primera_fila = objeto_primera_fila.clone(true, true);
        objetos_globales.fila_original = copy_primera_fila;
        objeto_primera_fila.children(":first").children("select").select2({
            theme: "bootstrap4"
        });


        //AJAX para actualizar si la boleta es válida

        $('.switch').on('switchChange.bootstrapSwitch', function (e, data) {
            objetos_globales.numero_switch = e.target.value;
            $('#switch_' + objetos_globales.numero_switch).bootstrapSwitch('state', !data, true);
            $('#showModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        });

        $(".modal-footer .btn-primary").click(function () {
            $('#showModal').modal('hide');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../compras/actualizar_valido/',
                data: {
                    id_boleta_compra: objetos_globales.numero_switch,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    $('#switch_' + objetos_globales.numero_switch).bootstrapSwitch(
                        'toggleState', true, true);
                    toastr.success('Se cambio la validez de la boleta #' +
                        objetos_globales.numero_switch);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr
                        .responseText
                    ); // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo cambiar la validez de la boleta #' +
                        objetos_globales.numero_switch);
                }
            });

        });

        $('#btnGuardar').on('click blclick', function () {
            this.style.visibility = 'hidden';
            $("#loader_bg").show();
        });


    });
</script>


{% endblock pie %}