{% extends 'base.html' %}

{% block cabecera %}
<title>
  Ventas
</title>
{% endblock cabecera %}

{% block contenido %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">RESTAURANTE | Agregar venta</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i></button>
              <!-- <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i></button> -->
            </div>
          </div>
          <div class="card-body">
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <!-- Cliente -->
                <div class="form-group">
                  <label for="exampleInputCliente1">Cliente</label>
                  <select class="form-control" required>
                    <option value="">Seleccione cliente...</option>
                    <option value="1">One</option>
                  </select>
                  <div class="invalid-feedback">Seleccione un cliente válido</div>
                </div>
                <!-- Tipo de pago -->
                <div class="form-group">
                  <label for="exampleInputTipoVenta1">Tipo de venta</label>
                  <select class="form-control" required>
                    <option value="">Seleccione tipo de venta...</option>
                    <option value="1">One</option>
                  </select>
                  <div class="invalid-feedback">Seleccione un cliente válido</div>
                </div>

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Recordar cliente y tipo de venta para varias entradas</label>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Agregar venta</button>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            (RESTAURANTE) *Recuerda revisar los datos antes de ingresar.
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
{% endblock contenido %}



{% block pie %}

{% endblock pie %}