<!-- Esta página sirve como base -->

{% extends 'base.html' %}
{% load static %}

{% block cabecera %}
<!-- Agregar aquí contenido de <head>-->
<!-- daterange picker -->
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

<!-- Para que la tabla no sea muy grande-->
<style>
    .table td,
    .table th {

        padding: 0.1rem;
        vertical-align: middle;
    }
</style>

{% endblock cabecera %}


{% block contenido %}

<!-- Agregar aquí contenido de <body>-->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Reporte de uso de productos</h5>
                        <div class="card-tools">
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Falta agregar acciones</a>
                                    <a class="dropdown-divider"></a> <!-- Es un divisor-->
                                </div>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Unidad</th>
                                        <th>Comprado</th>
                                        <th>Usado**</th>
                                        <th>Saldo**</th>
                                        <th>Porcentaje de consumo**</th>
                                        <th style="width: 100px;">En almacén</th>
                                        <th style="width: 200px;">Enviar a cocina</th>
                                        <th>Historial</th>
                                        <th>Déficit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for producto in saldo_restante_productos%}
                                    <tr>
                                        <td>{{producto.nombre |default_if_none:"---"}}</td>
                                        <td>{{producto.unidad |default_if_none:"---" }}</td>
                                        <td><strong>{{producto.cantidad_comprada|default_if_none:"---"}}</strong></td>
                                        <td>{{producto.cantidad_vendida|default_if_none:"---"}}</td>
                                        <td>{{producto.saldo_restante|default_if_none:"---"}}</td>

                                        <td>
                                            {% if producto.porcentaje_consumo < 25 %}
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                    style="width: {{producto.porcentaje_consumo|default_if_none:"0"}}%;"
                                                    aria-valuenow="{{producto.porcentaje_consumo}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{producto.porcentaje_consumo|default_if_none:"0"}}%
                                                </div>
                                            </div>
                                            {% elif producto.porcentaje_consumo < 50 %}
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: {{producto.porcentaje_consumo|default_if_none:"0"}}%;"
                                                    aria-valuenow="{{producto.porcentaje_consumo}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{producto.porcentaje_consumo|default_if_none:"0"}}%
                                                </div>
                                            </div>
                                            {% elif producto.porcentaje_consumo < 75 %}
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                    style="width: {{producto.porcentaje_consumo|default_if_none:"0"}}%;"
                                                    aria-valuenow="{{producto.porcentaje_consumo}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{producto.porcentaje_consumo|default_if_none:"0"}}%
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="progress">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                    style="width: {{producto.porcentaje_consumo|default_if_none:"0"}}%;"
                                                    aria-valuenow="{{producto.porcentaje_consumo}}" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{producto.porcentaje_consumo|default_if_none:"0"}}%
                                                </div>
                                            </div>

                                            {% endif%}



                                        </td>
                                        <td style="text-align: center;">
                                            {{producto.cantidad_almacen}}
                                        </td>
                                        <td>

                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text enviar" id="inputGroup-sizing-sm"
                                                        onclick="enviar_cocina({{producto.id}});return false;">Enviar</span>
                                                </div>
                                                <input type="number" class="form-control" aria-label="Small"
                                                    id="cantidad_enviar_{{producto.id}}"
                                                    aria-describedby="inputGroup-sizing-sm"
                                                    onlick=enviar_cocina({{producto.id}})>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                        id="inputGroup-sizing-sm">Último</span>
                                                </div>
                                                <input readonly type="number" class="form-control" aria-label="Small"
                                                    id="cantidad_ultimo_{{producto.id}}"
                                                    aria-describedby="inputGroup-sizing-sm"
                                                    value="{{producto.ultima_cantidad}}">
                                            </div>

                                        </td>
                                        <td>
                                            <a href="">Ver</a>
                                        </td>

                                        <td>
                                            {{producto.deficit}}
                                        </td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                            **Significa Teórico
                        </div>
                    </div>
                    <!-- ./card-body -->
                    <div class="card-footer">
                        <!-- /.Vacio -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Reporte de gastos</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Falta agregar acciones</a>
                                    <a class="dropdown-divider"></a> <!-- Es un divisor-->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <!-- Date range -->
                            <div class="form-group col-md-6">
                                <label>Rango de fecha para Compras:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="rango_fecha_compras">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group col-md-6">
                                <label>Importe de compras:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            S/.
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" value="" readonly
                                        id="importe_compras" />
                                </div>
                            </div>
                        </div>
                        <hr
                            style="background:none; border:dotted 1px #999999; border-width:1px 0 0 0; height:1px; width:100%; margin:0px 0px 0px 0px; padding-top:10px;padding-bottom:10px;">
                        <!-- /.form group -->
                        <div class="row">
                            <!-- Date range -->
                            <div class="form-group col-md-6">
                                <label>Rango de fecha para Ventas:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="rango_fecha_ventas">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <!-- Date range -->
                            <div class="form-group col-md-6">
                                <label>Importe de ventas:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            S/.
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" value="" readonly
                                        id="importe_ventas" />
                                </div>
                            </div>
                        </div>
                        <hr
                            style="background:none; border:dotted 1px #999999; border-width:1px 0 0 0; height:1px; width:100%; margin:0px 0px 0px 0px; padding-top:10px;padding-bottom:10px;">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Rango de fecha para Ventas-Compra:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right"
                                        id="rango_fecha_saldo_economico">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <div class="form-group col-md-6">
                                <label>Importe de Ventas-Compra:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            S/.
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" value="" readonly
                                        id="saldo_economico" />
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>

                    <!-- ./card-body -->
                    <div class="card-footer">
                        <div class="row">
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->

{% endblock contenido %}


{% block pie %}

<!-- Agregar aquí JS-->

<!-- date-range-picker -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".enviar").css({
            "cursor": "pointer"
        });


        //Date range picker
        $('#rango_fecha_compras').daterangepicker();
        $('#rango_fecha_compras').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../dashboard/reporte_economico/reporte_economico_ajax/',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    reporte: 'importe_compra_fecha_rango',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    importe_compras = json.importe_compras.toString().replace(
                        /\B(?=(\d{3})+(?!\d))/g, ","
                    ) //Para mostrar coma en miles. ex: 1,984.30;
                    $("#importe_compras").val(importe_compras);
                    toastr.success('Se obtuvo satisfactoriamente el importe');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo obtener el importe');
                }
            });
        });
        $('#rango_fecha_ventas').daterangepicker();
        $('#rango_fecha_ventas').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../dashboard/reporte_economico/reporte_economico_ajax/',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    reporte: 'importe_venta_fecha_rango',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    importe_ventas = json.importe_ventas.toString().replace(
                        /\B(?=(\d{3})+(?!\d))/g, ",")
                    //Para mostrar coma en miles. ex: 1,984.30
                    $("#importe_ventas").val(importe_ventas);
                    toastr.success('Se obtuvo satisfactoriamente el importe');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo obtener el importe');
                }
            });
        });
        $('#rango_fecha_saldo_economico').daterangepicker();
        $('#rango_fecha_saldo_economico').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../dashboard/reporte_economico/reporte_economico_ajax/',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    reporte: 'importe_saldo_economico',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    saldo_economico = json.saldo_economico.toString().replace(
                        /\B(?=(\d{3})+(?!\d))/g, ",")
                    //Para mostrar coma en miles. ex: 1,984.30
                    $("#saldo_economico").val(saldo_economico);
                    toastr.success('Se obtuvo satisfactoriamente el importe');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo obtener el importe');
                }
            });
        })
    });

    function enviar_cocina(producto_id) {
        $("#loader_bg").show();
        $.ajax({
            type: 'POST',
            url: '../dashboard/reporte_economico/enviar_cocina/',
            data: {
                cantidad_enviar: $("#cantidad_enviar_" + producto_id).val(),
                id_producto_padre: producto_id,
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post'
            },
            success: function (json) {
                $("#loader_bg").hide();
                toastr.success('Se actualizó la cantidad real');
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr
                    .responseText
                ); // provide a bit more info about the error to the console
                $("#loader_bg").hide();
                toastr.error('No se pudo actualizar la cantidad real');
            }
        });


    };
</script>


{% endblock pie %}