<!-- Esta página sirve como base -->

{% extends 'base.html' %}
{% load static %}

{% block cabecera %}
<!-- Agregar aquí contenido de <head>-->
<!-- daterange picker -->
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock cabecera %}


{% block contenido %}
<!-- Agregar aquí contenido de <body>-->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Reporte de uso de productos</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Falta agregar acciones</a>
                                    <a class="dropdown-divider"></a> <!-- Es un divisor-->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">



                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Producto</th>
                                    <th style="width: 10px">Unidad</th>
                                    <th style="width: 40px">Comprado</th>
                                    <th style="width: 40px">Usado</th>
                                    <th style="width: 40px">Saldo</th>
                                    <th>Porcentaje de consumo</th>
                                    <th style="width: 40px">Label</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pollo</td>
                                    <td>Pollo</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>10</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-danger" style="width: 90%">
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-danger">90%</span></td>
                                </tr>
                                <tr>

                                    <td>Arroz</td>
                                    <td>Kg</td>
                                    <td>200</td>
                                    <td>50</td>
                                    <td>150</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-warning" style="width: 70%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-warning">25%</span></td>
                                </tr>
                                <tr>
                                    <td>Papa</td>
                                    <td>Kg</td>
                                    <td>200</td>
                                    <td>50</td>
                                    <td>150</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-primary" style="width: 30%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-primary">30%</span></td>
                                </tr>
                                <tr>

                                    <td>Lomo Fino</td>
                                    <td>Kg</td>
                                    <td>200</td>
                                    <td>50</td>
                                    <td>150</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-success" style="width: 90%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-success">90%</span></td>
                                </tr>
                            </tbody>
                        </table>




                    </div>
                    <!-- ./card-body -->
                    <div class="card-footer">
                        <div class="row">
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Reporte de gastos</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a href="#" class="dropdown-item">Falta agregar acciones</a>
                                    <a class="dropdown-divider"></a> <!-- Es un divisor-->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <!-- Date range -->
                            <div class="form-group col-md-6">
                                <label>Rango de fecha para Compras:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="rango_fecha_compras">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group col-md-6">
                                <label>Importe de compras:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            S/.
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" value="" readonly
                                        id="importe_compras" />
                                </div>
                            </div>
                        </div>
                        <hr
                            style="background:none; border:dotted 1px #999999; border-width:1px 0 0 0; height:1px; width:100%; margin:0px 0px 0px 0px; padding-top:10px;padding-bottom:10px;">
                        <!-- /.form group -->
                        <div class="row">
                            <!-- Date range -->
                            <div class="form-group col-md-6">
                                <label>Rango de fecha para Ventas:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="rango_fecha_ventas">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <!-- Date range -->
                            <div class="form-group col-md-6">
                                <label>Importe de ventas:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            S/.
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" value="" readonly
                                        id="importe_ventas" />
                                </div>
                            </div>
                        </div>
                        <hr
                            style="background:none; border:dotted 1px #999999; border-width:1px 0 0 0; height:1px; width:100%; margin:0px 0px 0px 0px; padding-top:10px;padding-bottom:10px;">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Rango de fecha para Ventas-Compra:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right"
                                        id="rango_fecha_saldo_economico">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                            <div class="form-group col-md-6">
                                <label>Importe de Ventas-Compra:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            S/.
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" value="" readonly
                                        id="saldo_economico" />
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>

                    <!-- ./card-body -->
                    <div class="card-footer">
                        <div class="row">
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->


{% endblock contenido %}


{% block pie %}
<!-- Agregar aquí JS-->

<!-- date-range-picker -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //Date range picker
        $('#rango_fecha_compras').daterangepicker();
        $('#rango_fecha_compras').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../compras/reporte_economico_ajax/',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    reporte: 'importe_compra_fecha_rango',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    importe_compras = json.importe_compras.toString().replace(
                        /\B(?=(\d{3})+(?!\d))/g, ","
                    ) //Para mostrar coma en miles. ex: 1,984.30;
                    $("#importe_compras").val(importe_compras);
                    toastr.success('Se obtuvo satisfactoriamente el importe');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo obtener el importe');
                }
            });
        });
        $('#rango_fecha_ventas').daterangepicker();
        $('#rango_fecha_ventas').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../compras/reporte_economico_ajax/',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    reporte: 'importe_venta_fecha_rango',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    importe_ventas = json.importe_ventas.toString().replace(
                        /\B(?=(\d{3})+(?!\d))/g, ",")
                    //Para mostrar coma en miles. ex: 1,984.30
                    $("#importe_ventas").val(importe_ventas);
                    toastr.success('Se obtuvo satisfactoriamente el importe');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo obtener el importe');
                }
            });
        });
        $('#rango_fecha_saldo_economico').daterangepicker();
        $('#rango_fecha_saldo_economico').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');
            $("#loader_bg").show();
            $.ajax({
                type: 'POST',
                url: '../compras/reporte_economico_ajax/',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    reporte: 'importe_saldo_economico',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    $("#loader_bg").hide();
                    saldo_economico = json.saldo_economico.toString().replace(
                        /\B(?=(\d{3})+(?!\d))/g, ",")
                    //Para mostrar coma en miles. ex: 1,984.30
                    $("#saldo_economico").val(saldo_economico);
                    toastr.success('Se obtuvo satisfactoriamente el importe');
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    // provide a bit more info about the error to the console
                    $("#loader_bg").hide();
                    toastr.error('No se pudo obtener el importe');
                }
            });
        })
    });
</script>


{% endblock pie %}